<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>BookShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="https://kit.fontawesome.com/ac2ac0f977.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/customs.js"></script>

</head>

<body>
<!-- Button trigger modal -->

<div th:fragment="navigation">
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="navbar-brand">
            <img alt="book picture" src="/images/book.png" class="nav-logo">BookShop
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto col-lg-12" style="padding-left: 20px; ">
                <!-- Main Pages -------------------------------------------->

                <li class="nav-item" ><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item" ><a class="nav-link" href="/library">Our Library</a></li>
                <li class="nav-item" ><a class="nav-link" href="/about">About</a></li>

                <div style="margin-left:auto !important; display:flex; flex-direction: row; padding-right: 40px">
                    <li class="nav-item"  sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/register">Register</a>
                    </li>



                    <!-- Logged User -------------------------------------------->

                    <!----- Admin Pages -------------------------------------------->
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/all-books">All Books</a>
                            <a class="dropdown-item" href="/admin/add-book">Add Book</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/admin/statistics}">Statistics</a>
                        </div>
                    </li>
                    <!----- My Account -------------------------------------------->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Account
                        </a>
                        <div class="dropdown-menu p-2" aria-labelledby="navbarDropdown1">
                            <h5><span class="text-black">Welcome, <th:block sec:authentication="name"></th:block>!</span></h5>
                            <a class="dropdown-item" href="/user/books">My Books</a>
                            <a class="dropdown-item" href="/user/orders">Orders History</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/user/details}">Edit Profile</a>
                            <a class="dropdown-item" href="/user/logins">Last Logins</a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" th:method="post">
                                <input class="dropdown-item btn-link" type="submit" value="Logout">
                            </form>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

    <button type="button"  class="text-white basket-button"  data-toggle="modal" data-target="#run-card-modal">
        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 15 15">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
        </svg>
    </button>

    <button type="button"  id="wish-modal" class="text-white wish-button " data-toggle="modal" data-target="#run-wish-modal">
        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 15 15">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
        </svg>
        <span id="wish-count" style="font-size: 7px; display:flex; flex-direction: row ">0</span>
    </button>

    <div id="messages" class="fixed-top p-2 col-lg-12 text-center"></div>

    <div class="modal fade" id="run-card-modal"  tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-dialog-centered"  role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">
                        Billing Information
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="row p-4">
                            <div class="col-lg-7 shadow-lg">
                                <div class="overflow-auto">
                                    <ul class="order_list " style="height:500px" id="order_list_wishes"></ul>
                                </div>
                                <hr>
                                <div class="foot">
                                    <dl class="total_price"></dl>
                                </div>
                            </div>

                            <div class="col-lg-5 shadow-lg p-5 mx-auto">
                                <div class="payment text-black-50">
                                    <div id="card-shake" class="card">
                                        <div class="card-content">
                                            <div class="logo-visa">
                                                <div class="card__flag"></div>
                                                <div class="card__flag card__flag--yellow"></div>
                                            </div>
                                            <h2 class="container__h1 container__h1--h2">Card Number</h2>
                                            <h3 class="container__h3">
                                                <div class="card-number">
                                                    <span class="card__span">0000 0000 0000 0000</span>
                                                </div>
                                            </h3>
                                            <h2 class="container__h1 container__h1--h2">Expiration<span class="card__cvc-1">CVC</span></h2>
                                            <h3 class="container__h3">
                                                <span class="card__exp-month">
                                                    <span class="card__span">00</span>
                                                </span>
                                                <span class="e-divider">
                                                    <span>/</span>
                                                </span>
                                                <span class="card__exp-year">
                                                    <span class="card__span">00</span>
                                                </span>
                                                <span class="card__cvc-2">
                                                    <span class="card__span">000</span>
                                                </span>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- Card Form -->
                                    <form class="card-form" th:method="@{/payment/}">
                                        <div class="field">
                                            <img th:src="@{https://i.ibb.co/Bw0DwfZ/New-Text-Document-2.png}" >
                                            <input id="card-number" class="field__input" type='tel' name='card-number' placeholder='1234 5678 9123 4567' maxlength="20"/>
                                        </div>
                                        <div class="field field--space">
                                            <img th:src="@{https://i.ibb.co/L102DwH/cal.png}" >
                                            <input id="expires-month" class="field__input field__input--cardexp-1" type="tel" name="expires-month" placeholder="MM" allowed-pattern="[0-9]"  maxlength="2"/>
                                            <img th:src="@{https://i.ibb.co/L102DwH/cal.png}" >
                                            <input id="expires-year" class="field__input field__input--cardexp-2" type="tel" name="expires-year" placeholder="YY" allowed-pattern="[0-9]" maxlength="2"/>
                                        </div>
                                        <div class="field">
                                            <img th:src="@{https://i.ibb.co/7VJc4s3/cvc.png}" >
                                            <input id="card-cvc" class="field__input field__input--cardcvc" type="tel" name="cardcvc" placeholder="123" maxlength="3" autocomplete="off"/>
                                        </div>
                                        <button class="button" type="submit">Pay Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basket -->
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="modal fade" id="run-wish-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Your Shopping Cart
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Book</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Total</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody id="wishlist_table"></tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <h5><span id="wish-total"></span></h5>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">


        let wishlist = JSON.parse(localStorage.getItem('wishlist'))
        let storage = window.localStorage;

        // Fetch the Books JSON and save the data to the local storage so that no further fetch will be needed
        $.get(CONFIG.PATHS.REST.all_books).done(books=> {
            if(books.length === 0){
                $("#message").html("We do not have any books at the moment ")
            }
            storage.setItem("books", JSON.stringify(books));
        })

        // Convert the string saved in the storage to an array again
        let all_books = JSON.parse(storage['books'])

        wishes()
        basket()
        purchase()

    </script>
    <nav class="social mt-2">
        <ul>
            <li><a href="https://twitter.com/TsvetomirN1">Twitter <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/TsvetomirN1">Facebook <i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/TsvetomirN1/">GitHub <i class="fab fa-github"></i></a></li>
            <li><a href="https://google.com/TsvetomirN1">Google+ <i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="https://bg.linkedin.com/TsvetomirN1">Linked <i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </nav>
</div>
<div th:fragment="footer">
    <footer class="footer border-top border-dark p-1 border-2 fixed-bottom">
        <div class="row text-center">
            <div class="h5">
                &copy; Tsvetomir Nikolov 2021. All rights reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>
